header {
	display: flex;
	align-items: center;
	height: 48px;
	position: sticky;
	top: 0;
	padding: 0 12px;
	background: #fff;
	border-bottom: 1px solid rgb(237, 239, 241);
	user-select: none;
}

header a {
	text-decoration: none;
}

.header-left, .header-center, .header-right {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.header-left {
	width: 25%;
}

.header-center {
	width: 37.5%;
}

.header-right {
	margin-left: auto;
}

.header-title {
	margin-left: 24px;
	color: #000;
	font-size: 24px;
}

.search-box {
	background: rgb(246, 247, 248);
	width: 100%;
	height: 36px;
	border: 1px solid rgb(237, 239, 241);
	border-radius: 4px;
}

.search-box:hover, .search-box input:focus {
	background: #fff;
}

.search-box form {
	display: flex;
	align-items: center;
}

.search-box .svg-inline--fa {
	position: absolute;
	margin: 0 8px;
}

.search-box input {
	background: none;
	width: 100%;
	height: 36px;
	border: 0;
	padding-left: 32px;
}

.search-box input:focus {
	background: #fff;
	border-radius: 4px;
}

.header-btns-container {
	display: flex;
}

.header-btn {
	display: flex;
	align-items: center;
	min-width: 32px;
	min-height: 32px;
	margin-right: 16px;
	border-radius: 9999px;
	padding: 4px 16px;
	font-size: 14px;
	font-weight: bold;
}

.login-btn {
	background: #fff;
	color: rgb(0, 121, 211);
	border: 1px solid rgb(0, 121, 211);
	cursor: pointer;
}

.login-btn:hover {
	background: rgb(211, 245, 255);
}

.signup-btn, .sample-btn {
	background: rgb(0, 121, 211);
	color: #fff;
	border: 1px solid rgb(0, 121, 211);
	cursor: pointer;
}

.signup-btn:hover, .sample-btn:hover {
	background: rgb(0, 128, 255);
}

.header-username {
	margin-right: 16px;
	font-size: 14px;
}

.user-btn {
	display: flex;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	padding: 2px 0;
	min-width: 64px;
	min-height: 32px;
	color: #000;
	cursor: pointer;
}
.user-btn:hover {
	border: 1px solid rgb(237, 239, 241);
}

.user-dropdown-btn {
	display: flex;
	align-items: center;
}

.user-dropdown-btn::after {
	content: "\2304";
	margin-top: -12px;
	font-size: 32px;
}

.user-dropdown-menu {
	position: fixed;
	background: #fff;
	width: 192px;
	max-height: 80%;
	top: 48px;
	right: 12px;
	padding-top: 6px;
	border: 1px solid rgb(237, 239, 241);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: none;
}

.canvas {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.dropdown-header {
	padding: 8px 12px;
	color: rgb(125, 128, 140);
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 12px;
}

.dropdown-item {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 40px;
	padding: 4px 16px;
	color: rgb(0 ,0 ,0);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	box-sizing: border-box;
	cursor: pointer;
}

.dropdown-item:hover {
	background: rgb(0, 121, 211);
	color: #fff;
}

.dropdown-item .svg-inline--fa {
	position: absolute;
}

.dropdown-item span {
	margin-left: 24px;
}

.night-mode-btn {
	background: rgba(26, 26, 27, 0.1);
	width: 35px;
	margin-left: 12px;
	border: 2px solid transparent;
	border-radius: 100px;
	cursor: pointer;
	transition: border-color 0.15s linear, background-color 0.15s linear;
}

.night-mode-btn-switch {
	background-color: #fff;
	position: relative;
	left: 0;
	width: 57%;
	border-radius: 57%;
	box-shadow: 0 0 0 1px rgba(0 ,0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	transition: left 0.15s linear;
}
.night-mode-btn-switch::after {
	content: "";
	display: block;
	padding-top: 100%;
}

/* Night Mode */
header.dark {
	background: rgb(26, 26, 27);
	border-bottom: 1px solid rgb(52, 53, 54);
}

header.dark .header-title {
	color: rgb(215, 218, 220);
}

header.dark .search-box {
	background: rgb(39, 39, 41);
	color: rgb(215, 218, 220);
	border: 1px solid rgb(52, 53, 54);
}

header.dark .search-box input {
	color: rgb(215, 218, 220);
}

header.dark .search-box:hover, header.dark .search-box input:focus {
	background: rgb(48, 48, 49);
}

header.dark .login-btn {
	background: rgb(26, 26, 27);
	color: rgb(215, 218, 220);
	border: 1px solid rgb(215, 218, 220);
}

header.dark .signup-btn, header.dark .sample-btn {
	background: rgb(215, 218, 220);
	color: rgb(26, 26, 27);
	border: 1px solid rgb(215, 218, 220);
}

header.dark .header-username {
	color: rgb(215, 218, 220);
}

header.dark .user-btn {
	color: rgb(215, 218, 220);
}

header.dark .user-dropdown-menu {
	background: rgb(26, 26, 27);
}

header.dark .dropdown-item {
	color: rgb(215, 218, 220);
}

header.dark .night-mode-btn {
	background: rgb(0, 121, 211);
}

header.dark .night-mode-btn-switch {
	left: 12px;
}