.post {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.post-canvas {
    background: rgba(0, 0, 0, 0.75);
}

.post-main {
    position: fixed;
    background: rgb(218, 224, 230);
    width: 75%;
    height: 100vh;
    overflow-y: scroll;
}

.post-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: #000;
    width: 100%;
    height: 32px;
    color: #fff;
}

.post-header-inner {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
}

.post-votes-container {
    display: flex;
    align-items: center;
    padding: 0 4px;
    font-size: 12px;
}

.post-upvote-btn, .post-downvote-btn {
    font-size: 24px;
    cursor: pointer;
}

.post-upvote-btn:hover {
    background: rgba(26, 26, 27, 0.1);
    color: rgb(204, 55, 0);
}

.post-downvote-btn:hover {
    background: rgba(26, 26, 27, 0.1);
    color: rgb(0, 121, 211);
}

.post-upvote-btn::before {
    content: "\21e7";
}

.post-downvote-btn::before {
    content: "\21e9";
}

.post-title {
    padding: 0 4px;
}

.post-close-btn-container {
    margin-left: auto;
    color: #fff;
    text-decoration: none;
}

.post-close-btn::before {
    content: "\2715";
    color: #fff;
    margin-right: 4px;
    cursor: pointer;
}

.post-body {
    display: flex;
    margin: 0 auto;
    width: 75%;
    padding-top: 32px;
}

.post-content-container {
    background: #fff;
    width: 66.6%;
}

.post-content-container .post-box {
    border: 0;
}

.post-content-container .post-box-votes-container {
    background: none;
}

.reply-sidebar {
    width: 64px;
}

/* Night Mode */
main.dark .post-header {
    background: rgb(26, 26, 27);
}

main.dark .post-main {
    background: rgb(8, 8, 8);
}

main.dark .post-content-container {
    background: rgb(26, 26, 27);
    color: rgb(215, 218, 220);
}

main.dark .login-btn {
	background: rgb(26, 26, 27);
	color: rgb(215, 218, 220);
	border: 1px solid rgb(215, 218, 220);
}

main.dark .signup-btn {
	background: rgb(215, 218, 220);
	color: rgb(26, 26, 27);
	border: 1px solid rgb(215, 218, 220);
}