.reply {
    margin-left: 64px;
}

.reply-btn {
	min-width: 32px;
	min-height: 32px;
	border-radius: 9999px;
    padding: 4px 16px;
    margin-left: 4px;
	font-size: 14px;
	font-weight: bold;
}

.reply-prompt {
    margin-right: 96px;
}

.reply-form-post {
    width: 95%;
}

.reply-input {
    display: block;
    background: rgb(218, 224, 230);
    width: 100%;
    height: 64px;
    padding: 8px;
    font-family: Sans-serif;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.reply-submit-btn {
    display: block;
    background: rgb(0, 121, 211);
    margin: 8px 0 8px auto;
    padding: 4px 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* Night Mode */
main.dark .reply-input {
    background: rgb(39, 39, 41);
	color: rgb(215, 218, 220);
	border: 1px solid rgb(52, 53, 54);
}