.sortbar-posts {
    display: flex;
    background: rgb(255, 255, 255);
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
}

.sortbar-btn {
    background: rgb(246, 247, 248);
    margin-left: 12px;
    margin-right: 12px;
    padding: 4px;
    color: rgb(128, 128, 128);
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.sortbar-btn .svg-inline--fa {
    margin-right: 8px;
}

.sortbar-btn-active {
    color: rgb(0, 121, 211) !important;
}

.sortbar-comments {
    display: flex;
    padding: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.sortbar-comments-btn {
    color: rgb(0, 121, 211);
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.sortbar-comments-dropdown {
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.sortbar-comments-dropdown-item {
    padding: 4px;
    color: rgb(128, 128, 128);
    font-size: 12px;
    cursor: pointer;
}

.sortbar-comments-dropdown-item:hover {
    background: rgb(51, 167, 255);
    color: rgb(0, 0, 0);
}

/* Night Mode */
main.dark .sortbar-posts {
    background: rgb(26, 26, 27);
}

main.dark .sortbar-btn {
    background: rgb(39, 39, 41) !important;
	color: rgb(215, 218, 220);
}

main.dark .sortbar-comments-dropdown {
    background: rgb(26, 26, 27);
}