.submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
    padding: 12px 0;
}

.submit-subreddit {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 12px;
}

.submit-subreddit a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.submit-subreddit a:hover {
    text-decoration: underline;
}

.submit-title, .submit-text {
    width: 100%;
    margin-bottom: 12px;
}

.submit-label {
    font-weight: bold;
}

.submit-title input {
    width: 50%;
    height: 32px;
    resize: none;
}

.submit-text textarea {
    width: 50%;
    height: 128px;
    resize: none;
}

.submit-flairs {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.submit-flair {
    background: rgb(237, 239, 241);
    margin: 4px;
    padding: 4px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.submit-flair a {
    color: initial;
    text-decoration: none;
}

.submit-flair-active, .submit-flair-active a {
    color: rgb(0, 121, 211);
}

.submit-btn {
    background: rgb(0, 121, 211);
    padding: 4px 16px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* Night Mode */
main.submit.dark {
    color: rgb(215, 218, 220);
}

main.dark .submit-subreddit a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

main.dark input, main.dark textarea {
    background: rgb(39, 39, 41);
	color: rgb(215, 218, 220);
	border: 1px solid rgb(52, 53, 54);
}

main.dark .submit-flair {
    background: rgb(39, 39, 41);
}

main.dark .submit-flair a {
    color: rgb(215, 218, 220);
}