.subreddit {
    min-height: 100vh;
}

.subreddit-banner {
    background: rgb(237, 239, 241);
    background-size: cover;
    height: 128px;
}

.subreddit-header {
    display: flex;
    justify-content: center;
    background: #fff;
    margin-bottom: 12px;
}

.subreddit-header-content {
    display: flex;
    width: 50%;
}

.subreddit-icon {
    background: rgb(237, 239, 241);
    width: 72px;
    height: 72px;
    border: 4px solid #fff;
    border-radius: 100%;
}

.subreddit-title {
    margin-left: 12px;
}

.subreddit-name {
    color: rgb(120, 124, 126);
    font-size: 14px;
    margin-top: -24px;
}

.subreddit-body {
    display: flex;
    margin: 0 auto;
    width: 50%;
}

.subreddit-posts-container {
    width: 66.6%;
}

.no-scroll {
    overflow: hidden;
}

/* Night Mode */
main.dark .subreddit-header {
    background: rgb(26, 26, 27);
    color: rgb(215, 218, 220);
}

main.dark .subreddit-name {
    color: rgb(215, 218, 220);
}